.card {
  position: relative;
  display: flex;
  justify-content: center;
  height: 80vh;
  align-items: center;
  flex-wrap: wrap;
}

.sedans {
  width: 350px;
  height: 500px;
  background-color: hsl(31, 77%, 52%);
}

.suvs {
  width: 350px;
  height: 500px;
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  width: 350px;
  height: 500px;
  background-color: hsl(179, 100%, 13%);
}

.icons {
  padding: 10% 10% 7% 10%;
}

.header {
  font-family: "Big Shoulders Display", cursive;
  color: hsl(0, 0%, 95%);
  /* font-size: 18px; */
  padding: 0 12% 8% 12%;
}

.card-body {
  color: hsl(0, 0%, 95%);
  padding: 0 15% 8% 12%;
  line-height: 1.6;
}

.card-body,
.more {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

.more {
  padding: 3% 8%;
}

.btn {
  padding: 10%;
}

button {
  border-style: none;
  border-radius: 2rem;
}

button:hover {
  background-color: rgba(165, 155, 155, 0.8);
  color: white;
}

.attribution {
  text-align: center;
  font-size: 11px;
  /* border: 1px solid black; */
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
